@model Maets.Models.Dtos.Reviews.ReviewWriteDto

@{
    ViewData["Title"] = "Create review";
}

<h1>Create Review</h1>
<form asp-action="Create">
    <input asp-for="AppId" type="hidden"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Score</label>
                <input asp-for="Score" min="0" max="100" class="form-control"/>
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>

        <div class="w-100 form-group">
            <label class="control-label">Description</label>
            <textarea asp-for="Description" class="html-editor"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="my-2">
        <partial name="_BackToIndexPartial"/>
        <div class="form-group d-inline-block">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="Scripts/_TinyMcScriptsPartial"/>
}
