@model Maets.Models.Dtos.Companies.CompanyWriteDto

@{
    ViewData["Title"] = "Create Company";
}

<h1>Create Comapny</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Employees</label>
                <select asp-for="EmployeeIds" multiple class="form-control search-select" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="EmployeeIds" class="text-danger"></span>
            </div>
            <div class="my-2">
                <partial name="_BackToIndexPartial"/>
                <div class="form-group d-inline-block">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
