@using Maets.Models.ViewModels
@using Maets.Extensions
@using Maets.Models.Dtos.Company
@model IEnumerable<Maets.Models.Dtos.Company.CompanyReadDto>

@{
    ViewData["Title"] = "Companies";

    HtmlRenderer<CompanyReadDto> companyRenderer =
        @<span>
            <img src="@item.PhotoUrl" alt="avatar" class="avatar"/>
            @item.Name
        </span>;

    var tableModel = new TableViewModel<CompanyReadDto>
    {
        CanCreate = true,
        CanDelete = true,
        CanEdit = true,
        CanViewDetails = false,
        ItemIdSelector = dto => dto.Id,
        Items = Model,
        Columns = new List<TableViewModel<CompanyReadDto>.Column>
        {
            new()
            {
                Header = "Name",
                ContentSelector = companyRenderer
            },
            new()
            {
                Header = "Description",
                ValueSelector = dto => dto.Description
            }
        }
    };
}

<h1>Companies</h1>

<partial name="_TablePartial" model="tableModel"/>
