@using Maets.Models.ViewModels
@using Maets.Extensions
@using Maets.Models.Dtos.Users
@model IEnumerable<Maets.Models.Dtos.Users.UserForAdminDto>

@{
    ViewData["Title"] = "Index";

    HtmlRenderer<UserForAdminDto> userRenderer =
        @<span>
            <img src="@item.AvatarUrl" alt="avatar" class="avatar"/>
            @item.UserName
        </span>;

    HtmlRenderer<UserForAdminDto> rolesRenderer =
        @<span>
            @foreach (var role in item.Roles)
            {
                <span class="mx-1">@role</span>
            }
        </span>;

    var tableModel = new TableViewModel<UserForAdminDto>
    {
        CanCreate = true,
        CanDelete = true,
        CanEdit = true,
        CanViewDetails = false,
        ItemIdSelector = dto => dto.Id,
        Items = Model,
        Columns = new List<TableViewModel<UserForAdminDto>.Column>
        {
            new()
            {
                Header = "Id",
                ValueSelector = dto => dto.Id.ToString()
            },
            new()
            {
                Header = "User",
                ContentSelector = userRenderer
            },
            new()
            {
                Header = "Email",
                ValueSelector = dto => dto.Email
            },
            new()
            {
                Header = "Roles",
                ContentSelector = rolesRenderer
            }
        }
    };
}

<h1>Users management</h1>

<partial name="_TablePartial" model="tableModel"/>
