@using Microsoft.AspNetCore.Identity
@using Maets.Extensions
@using Maets.Domain.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 justify-content-center">
    <li class="nav-item dropdown">
        <a class="nav-link"
           asp-area="" asp-page="/store/home">
            <i class="fas fa-shopping-cart"></i> Store
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-page="/store/home">Home</a></li>
            <li><a class="dropdown-item" asp-page="/store/search">Search</a></li>
        </ul>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link" asp-area="" asp-page="/store/home">
                <i class="fas fa-user-group"></i> Community
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-page="/store/home">Your Reviews</a></li>
            </ul>
        </li>
    }
    @if (SignInManager.IsAdmin(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link" asp-area="" asp-controller="Apps" asp-action="Index">
                <i class="fas fa-screwdriver-wrench"></i> Administration
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a class="dropdown-item" asp-controller="Companies" asp-action="Index">Companies</a></li>
                <li><a class="dropdown-item" asp-controller="Apps" asp-action="Index">Apps</a></li>
            </ul>
        </li>
    }
</ul>
