@using Microsoft.AspNetCore.Identity
@using Maets.Extensions
@using Maets.Domain.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1 justify-content-center">
    <li class="nav-item dropdown">
        <a class="nav-link"
           asp-area="" asp-page="/store/home">
            <i class="fas fa-shopping-cart"></i> Store
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-page="/store/home">Home</a></li>
            <li><a class="dropdown-item" asp-page="/store/search">Search</a></li>
        </ul>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/collection/index">
                <i class="fas fa-bars-staggered"></i> Collection
            </a>
        </li>
    }
    @if (SignInManager.IsAdminOrModerator(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/stats/index">
                <i class="fa-solid fa-table"></i> Stats
            </a>
        </li>
    }
    @if (SignInManager.IsAdminOrModerator(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link" asp-area="" asp-controller="Apps" asp-action="Index">
                <i class="fas fa-screwdriver-wrench"></i> Administration
            </a>
            <ul class="dropdown-menu">
                @if (SignInManager.IsAdmin(User))
                {
                    <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Users</a></li>
                    <li><a class="dropdown-item" asp-controller="Companies" asp-action="Index">Companies</a></li>
                }
                <li><a class="dropdown-item" asp-controller="Reviews" asp-action="Index">Reviews</a></li>
                <li><a class="dropdown-item" asp-controller="Apps" asp-action="Index">Apps</a></li>
            </ul>
        </li>
    }
    <li class="nav-item dropdown">
        <a class="nav-link">
            <i class="fas fa-search"></i> Advanced Search
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter1">Filter1</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter2">Filter2</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter3">Filter3</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter4">Filter4</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter5">Filter5</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter6">Filter6</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter7">Filter7</a></li>
            <li><a class="dropdown-item" asp-controller="AdvancedSearch" asp-action="Filter8">Filter8</a></li>
        </ul>
    </li>
</ul>
