@using Microsoft.AspNetCore.Html
@model Maets.Models.ViewModels.TableViewModel

@{
    var items = Model.GetItems().ToArray();
    var columns = Model.GetColumns().ToArray();
}

<div class="table-responsive">
<table class="table">
    <thead>
    <tr>
        @foreach (var column in columns)
        {
            <th>@column.Header</th>
        }
        @if (Model.HasActions)
        {
            <th/>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in items)
    {
        <tr>
            @foreach (var column in columns)
            {
                <td>@column.GetDisplay(item)</td>
            }
            @if (Model.HasActions)
            {
                <td>
                    <div class="d-flex flex-nowrap flex-row" style="gap: 6px">
                        @if (Model.CanEdit)
                        {
                            <a class="btn btn-sm btn-primary flex-grow-1" asp-action="Edit" asp-route-id="@Model.GetItemId(item)">
                                <i class="fas fa-pen-to-square"></i> Edit
                            </a>
                        }
                        @if (Model.CanDelete)
                        {
                            <a class="btn btn-sm btn-danger flex-grow-1" asp-action="Delete" asp-route-id="@Model.GetItemId(item)">
                                <i class="fas fa-trash-can"></i> Delete
                            </a>
                        }
                    </div>
                </td>
            }
        </tr>
    }
    @if (Model.CanCreate)
    {
        <tr>
            @foreach (var _ in columns)
            {
                <td/>
            }
            <td>
                <a class="btn btn-sm btn-success w-100" asp-action="Create">
                    <i class="fas fa-plus"></i> Create New
                </a>
            </td>
        </tr>
    }

    </tbody>
</table>
</div>
