@model Maets.Models.ViewModels.AdvancedSearchViewModel?

<h1>Apps published by company X</h1>

<form asp-action="Filter1" method="get">
    <select name="companyId" class="form-control search-select" asp-items="ViewBag.Companies"></select>
    <input type="submit" value="Query" class="btn btn-primary"/>
</form>

@if (Model is not null)
{
    <partial name="PartialViews/_SearchResultPartial" model="Model"/>
}
