@model Maets.Models.ViewModels.AdvancedSearchViewModel?

<h1>Labels that have average app score at least of N</h1>

<form asp-action="Filter8" method="get">
    <input name="averageScore" type="number" class="form-control"/>
    <input type="submit" value="Query" class="btn btn-primary"/>
</form>

@if (Model is not null)
{
    <partial name="PartialViews/_SearchResultPartial" model="Model"/>
}
