@model Maets.Models.Dtos.Apps.AppEditDto
@{
    ViewData["Title"] = "Edit App";
}

<h1>Edit App</h1>
<form enctype="multipart/form-data" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Publisher</label>
                <select asp-for="PublisherId" class="form-control search-select w-100" asp-items="ViewBag.Companies"></select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Release date</label>
                <input asp-for="ReleaseDate" class="form-control" data-provide="datepicker" autocomplete="off"/>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
        </div>

        <div class="w-100 form-group">
            <label class="control-label">Developers</label>
            <select asp-for="DeveloperIds" multiple class="form-control search-select w-100" asp-items="ViewBag.Companies"></select>
            <span asp-validation-for="DeveloperIds" class="text-danger"></span>
        </div>

        <div class="w-100 form-group">
            <label class="control-label">Labels</label>
            <select asp-for="Labels" multiple class="form-control labels-select w-100" asp-items="ViewBag.Labels"></select>
            <span asp-validation-for="Labels" class="text-danger"></span>
        </div>

        <div class="w-100 form-group">
            <label class="control-label">Main image</label>
            <input asp-for="MainImage" type="file" accept="image/*" class="form-control"/>
            <span asp-validation-for="MainImage" class="text-danger"></span>
        </div>
        <div class="w-100 form-group">
            <label class="control-label">Screenshots</label>
            <input asp-for="Screenshots" multiple="" type="file" accept="image/*" class="form-control"/>
            <span asp-validation-for="Screenshots" class="text-danger"></span>
        </div>

        <div class="w-100 form-group">
            <label class="control-label">Description</label>
            <textarea asp-for="Description" class="html-editor"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="my-2">
        <partial name="_BackToIndexPartial"/>
        <div class="form-group d-inline-block">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="Scripts/_TinyMcScriptsPartial"/>
}
