@using Maets.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Maets.Extensions
@using Maets.Models.Dtos.Apps
@model IEnumerable<Maets.Models.Dtos.Apps.AppTableDto>

@{
    ViewData["Title"] = "Apps";

    HtmlRenderer<AppTableDto> titleRenderer =
        @<a asp-page="/store/app" asp-route-id="@item.Id">
            @item.Title
        </a>;

    HtmlRenderer<AppTableDto> labelsRenderer =
        @<span>
            @foreach (var label in item.Labels)
            {
                <partial name="Components/_LabelPartial" model="label"/>
            }
        </span>;
    
    var tableModel = new TableViewModel<AppTableDto>
    {
        CanCreate = true,
        CanDelete = true,
        CanEdit = true,
        CanViewDetails = true,
        ItemIdSelector = dto => dto.Id,
        Items = Model,
        Columns = new List<TableViewModel<AppTableDto>.Column>
        {
            new()
            {
                Header = "Title",
                ContentSelector = titleRenderer
            },
            new()
            {
                Header = "Price",
                ValueSelector = dto => dto.Price > 0 ? dto.Price.ToString("c") : "Free",
            },
            new()
            {
                Header = "Publisher",
                ValueSelector = dto => dto.PublisherName,
            },
            new()
            {
                Header = "Publisher",
                ValueSelector = dto => dto.PublisherName,
            },
            new()
            {
                Header = "Developers",
                ValueSelector = dto => string.Join(", ", dto.DeveloperNames)
            },
            new()
            {
                Header = "Labels",
                ContentSelector = labelsRenderer
            }
        }
    };
}

<h1>Apps</h1>

<partial name="_TablePartial" model="tableModel"/>
